body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: inline-block;
    margin-top: 50px;
}

label, input {
    height: 30px;
    display: block;
    font-size: 15px;
    margin: 15px;
}

button {
    padding: 15px;
    margin: 10px;
}

section {
    width: 100%;
    text-align: center;
}

.Titulo {
    height: 150px;
    background-color: aquamarine;
}

h1 {
    color: red;
    font-size: 35px;
}